.chat {
  height: calc(100% - 2rem - 10px);
}

.message-list {
  margin-top: 1rem;
  padding: 1rem;
  box-shadow: 0 5px 5px #e2e2e26f;
  background-color: #534f4fe6;
  overflow-y: scroll;

  height: calc(100% - 2rem - 270px);
  scrollbar-width: thin;
  scrollbar-color: var(--white-color);
}

.message-list::-webkit-scrollbar {
  width: 6px;
}

.message-list::-webkit-scrollbar-thumb {
  background: var(--white-color);
  border-radius: 0.5em;
}

.message-list::-webkit-scrollbar-thumb:hover {
  background: var(--scroll-bar-thumb-color);
}

.messages-divider {
  position: relative;
  width: 100%;
  height: 0.15rem;
  background-color: black;
  text-align: center;
  margin: 2rem 0;
}

.messages-divider-date {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: var(--white-color);
}
