.main-header {
  margin-bottom: 0.5rem;
  padding: 5px 0;
}

.main-header .header-title {
  color: #534f4f;
  font-size: 30px;
  margin-left: 0.3rem;
  cursor: pointer;
}

.main-header .header-title {
  cursor: pointer;
}

.main-header .message-like {
  display: inline-block;
  width: 26px;
  height: 26px;
}
