.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-size: 20px;
  color: #ffffffd7;
  box-shadow: 0 5px 5px #b6b6b6bf;
  background-color: #534f4fcb;
  height: 40px;
}

.header-users-count-wrap,
.header-messages-count-wrap,
.header-last-message-date-wrap {
  display: flex;
}

.header-users-count,
.header-messages-count,
.header-last-message-date,
.header-title {
  color: #50ddcde2;
  font-style: italic;
}

.header-users-count,
.header-messages-count {
  margin-right: 0.8rem;
}

.header-last-message-date {
  margin-left: 0.5rem;
}

.header-title {
  font-size: 26px;
  font-weight: 700;
}

@media all and (max-width: 800px) {
  .header-users-count-wrap,
  .header-messages-count-wrap,
  .header-last-message-date-wrap {
    display: block;
  }

  .header-users-count,
  .header-messages-count {
    margin: 0 0 0.3rem;
  }

  .header-last-message-date {
    margin: 0.3rem 0 0;
  }

  .header-users-count-wrap,
  .header-messages-count-wrap {
    display: none;
  }
}
