.message-input {
  width: 100%;
  display: flex;
  margin-top: 2rem;
}

.message-input-text:hover,
.message-input-text:focus {
  box-shadow: 0 1px 2px #00000012, 0 2px 4px #00000012, 0 4px 8px #00000012,
    0 8px 16px #00000012, 0 16px 32px #00000012, 0 32px 64px #00000012;
}

.message-input-text {
  width: calc(100% - 84px);
  display: inline-block;
  height: 50px;
  margin-right: 4px;

  border-radius: 0.3rem;
  border-color: transparent;
  outline: none;

  background-color: #373535e6;
  color: var(--white-color);

  font-size: 14px;
  letter-spacing: 0.03rem;
}

.message-input-text::placeholder {
  color: var(--white-color);
}

.message-input-text:hover,
.message-input-text:focus {
  background-color: #373535e6;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  width: 80px;
  justify-content: space-evenly;
}

.message-input-button,
.message-cancel-button {
  height: 100%;
  width: 80px;
  font-weight: 700;
  font-size: 16px;
  border-radius: 0.3rem;
}

.message-input-button {
  background-color: #534f4fe6;
  color: var(--white-color);
  border: 2px solid #373535e6;
}

.message-input-button:hover,
.message-input-button:focus {
  background-color: #373535e6;
}

.message-cancel-button {
  color: #534f4fe6;
  background-color: var(--white-color);
  border: 2px solid #534f4fe6;
}

.message-cancel-button:hover,
.message-cancel-button:focus {
  background-color: white;
}

.between-buttons {
  height: 6px;
}
