.message {
  max-width: 500px;
  background-color: #000000de;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.message + .message {
  margin-top: 1rem;
}

.message-user-name {
  color: var(--accent-color);
  font-weight: 700;
}

.message-header {
  display: grid;
  grid-template-columns: 2fr 2fr 5fr 1fr;
  align-items: center;
}

.message-user-avatar {
  width: 50px;
  cursor: pointer;
  border-radius: 50%;
  height: auto;
  object-fit: cover;
}

.message-like,
.message-liked {
  border: none;
  width: 20px;
  height: 20px;
  margin-left: 0.5rem;
  cursor: pointer;
  background: center no-repeat url(../../images/not-like.svg);
  background-size: 90%;
}

.message-liked {
  background: center no-repeat url(../../images/like.svg);
  background-size: 90%;
}

.message-time {
  font-size: 15px;
  text-align: end;
  color: var(--accent-color);
  font-weight: 700;
  font-style: italic;
  display: grid;
  row-gap: 0.25rem;
}

.message-time-edited {
  font-size: 12px;
  font-weight: 600;
}

.message-text {
  margin-top: 1rem;
  padding: 0.5rem 0;
  color: var(--white-color);
  word-break: break-all;
}
